.dashboard__wrapper {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1rem 0 5rem 0 hsla(320, 100%, 5%, 0.3);
}

.dashboard__nav {}

.dashboard__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboard__li {
    cursor: pointer;
}

.dashboard__link {
    display: flex;
    flex-direction: row;
}

.dashboard__link:hover .dashboard__message{
    filter: hue-rotate(60deg);
}

.dashboard__message {
    transition: 2s all;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 80%;
    transform: translateY(-5px);
    background: linear-gradient(to bottom right, #AF0171, 60%, #790252);
}

.dashboard__button {
    width: 20rem;
    height: 5rem;
    font-size: 100%;
    font-family: sans-serif;
    border: none;
    color: #eee;
    border-radius: 5rem;
    background: linear-gradient(to bottom right, #AF0171, 60%, #790252);
    transition: 2s all;
}

.dashboard__button:hover{
    cursor: pointer;
    filter: hue-rotate(60deg);
}